
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
  <ion-item class="card">
    <ion-label position="stacked" >Select</ion-label>
    <ion-select [(ngModel)]="current_funds" class="card">
      <ion-select-option *ngFor="let c of displayCharacter; let i = index" [value]="c.funds">
       {{c.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-item class="card">
    <ion-label position="stacked" >Select</ion-label>
    <ion-select [(ngModel)]="current_funds" class="card">
      <ion-select-option *ngFor="let c of displayCharacter; let i = index" [value]="c.funds">
       {{c.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>




  <ion-card> {{ current_funds }}</ion-card>



  <ion-card *ngFor="let Character of displayCharacter" class="card">
    <ion-card-header>
        <ion-card-title>{{Character.name}}</ion-card-title>
        <ion-card-title>{{Character.party}}</ion-card-title>
        <ion-card-title>{{Character.funds }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
