<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-item class="card">
    <ion-label position="stacked" >Select</ion-label>
      <ion-select [(ngModel)]="current_funds" class="card" placeholder="Select One">
        <ion-select-option *ngFor="let c of displayCharacter; let i = index" [value]="c.funds">
          {{c.name}} {{c.party}}
        </ion-select-option>
      </ion-select>
  </ion-item>
  </ion-toolbar>
    <div class="ion-text-center">
    <ion-icon name="people" color="secondary"></ion-icon>
     {{ totalVotes(p) | number:'1.0-0'}}
    <ion-icon name="cash" color="success"></ion-icon>
    {{ actualFunds() | currency: 'USD' }}
      <ion-icon name="people" color="danger"></ion-icon>
    {{ opponentVoters }} 
    </div>
</ion-header>

<ion-content>

  <ion-list >
    <ion-card *ngIf=" totalVotes(p) >= '600'" class="card">
    <ion-card-header>You Win!!</ion-card-header>
    <img src='assets/Pictures/winning.jpg'>
    </ion-card>

    <ion-card *ngIf=" opponentVoters >= '600'" class="card">
    <ion-card-header>You Lose!!</ion-card-header>
    <img src='assets/Pictures/loser.jpg'>
    </ion-card>

    <ion-card *ngFor="let p of products" class="card">
      <ion-card-header>
        <ion-card-title>{{ p.name }}</ion-card-title>
        <ion-row class="ion-align-items-center">
          <ion-col size="small" class="ion-align-items-center">
            <ion-label color="secondary" class="writing"> Approval: {{p.polls}} %
            </ion-label>
          </ion-col>
          <ion-col size="small" class="ion-align-items-center">
            <ion-label color="success" class="writing"> Funds: {{ p.cash | currency:'USD' }}
            </ion-label>
          </ion-col>
          <ion-col size="small" class="ion-align-items-center">
            <ion-label color="warning" class="writing"> Total Voters: {{ p.voters }}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-header> 
      <img src=" {{ p.pic }} "/>

      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto" class="ion-align-items-right">
            <ion-label color="secondary" class="writing"> Demagogue
            </ion-label>
            <ion-button fill="clear" (click)="addPolls(p)" color="secondary">
              <ion-icon name="megaphone"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="auto" class="ion-align-items-center">
            <ion-label color="danger" class="writing"> Smear
            </ion-label>
            <ion-button fill="clear" (click)="addSmear()" color="danger">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto" class="ion-align-items-center">
            <ion-label color="success" class="writing"> Fund Raise
            </ion-label>
            <ion-button fill="clear" (click)="addFunds(p)" color="success">
              <ion-icon name="cash"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="auto" class="ion-align-items-center">
            <ion-label color="warning"> Polling
            </ion-label>
            <ion-button fill="clear" (click)="addPolling(p)" color="warning">
              <ion-icon name="analytics"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>